.topnav {
    background-color: #006666;
    overflow: hidden;

  }

  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    border-style: solid;
    border-color: #008080;
    border-width: thin;
    text-decoration: none;
    font-size: 16px;

  }

  /* Change the color of links on hover */
  .topnav a:hover {
    background-color:  #b3ffff;
    color: black;
  }

  /* Add a color to the active/current link */
  .topnav a.active {
    background-color:  #00b3b3;
    color: white;
  }