.technology{
    border-style: solid;
    border-color: black;
    width: 15vw;
    height: 15vw;
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
    background-image: url("../images/tech.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    transition: height 2s;
}

.technology:hover {
    height: 300px
}